*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: #ecf0f1;
    font-family: 'Balsamiq Sans', cursive;
}
#container{
    padding-top: 20px;
    margin: 0 auto;
    width: max-content;
}
#siteTitle{
    color: #2c3e50;
    text-align: center;
}